* {
    box-sizing: border-box;
}

h1 {
    font-family: arial;
    color: rgba( 11, 86, 117, 0 );
}

body {
    background-repeat: no-repeat;
    font-family: arial;
    margin: 0;
    padding: none;
    background-color: rgb( 25, 25, 25 );
    color: rgba( 28, 78, 104, 0 );
}

footer {
    font-family: arial;
    font-size: 12px;
    padding-left: 10px;
    position:absolute;
    bottom: 0;
    width: 100%;
    color: rgba( 28, 78, 104, 0 );
}

/* Links */
a {
    text-decoration: none;
}
a:link {
    color: rgba( 233, 73, 154, 0 );
}
a:visited {
    color: rgba( 110, 30, 71, 0 );
}
a:hover {
    color: rgba( 252, 207, 230, 0 );
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
#canvas {
    padding-right: 0;
    display: block;
    border: 0px none;
    visibility: hidden;
}
